@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --color-bg-dark: #38514b; /* Mörkgrön */
    --color-bg-light: #eee7d5; /* Ljus sandgrå */
    --color-pure-white: #fff;
    --color-bg-off-gray: #e6e7ec;
    /*--color-off-white: #f2f2f2; /* /* Gray 6 */
    --color-bg-gray: #c4c4c4;
    --color-gray: #bdbdbd; /* Gray 4 */
    --color-accent: #f5c300; /* Senapsgul */
}

body {
    /* Rectangle 6722 */
    font-family: "Poppins", sans-serif;
    background: var(--color-bg-dark); /* Mörkgrön */
}

.App {
    max-width: 600px;
    margin-top: 20vh; /* 20% viewport height */
}

.title-container {
    text-align: center;
}

.title-icon {
    width: 15em;
}

h1.title {
    margin-top: 0.5em;
    margin-bottom: 5vh; /* 5% viewport height */

    /* ÄR DEN VEGANSK? */
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 102%;
    letter-spacing: 0.01em;
    color: var(--color-accent); /* Senapsgul */
}

/*.scanner-container {
    margin: 2em 0em;
    padding: 4em;
    background: var(--color-bg-light);
    border-radius: 10px;
}*/

/*.scanner-text {
    margin-top: 1em;
    font-style: normal;
    font-weight: bold;
    font-size: 15.6px;
    line-height: 23px;
    text-align: center;
    color: var(--color-bg-dark);
}*/

/*.scanner-icon {
    text-align: center;
}*/
.modalw{
    background-color: white;
    margin: 100px;
    min-width: 250px;

}
#btn:hover{
   text-decoration-line: underline;
}
#btn{
    color: blue;
    cursor: pointer;
    width: 100px;

}
#search-input {
    /* Rectangle 6539 */
    width: 100%;
    padding: 0.5em 1.2em;
    font-size: 14px;
    background: var(--color-bg-off-gray);
    border: 0.866667px solid var(--color-gray); /* Gray 4 */
    box-sizing: border-box;
    border-radius: 29px;
}

#search-input:focus {
    outline: none;
}

#search-input::placeholder {
    color: #000;
    opacity: 0.8;
}

#search-button {
    background: var(--color-accent);
    color: var(--color-bg-dark);
    padding: 0.2em 2em;
    border: none;
    /*text-transform: uppercase;*/
    font-weight: 600;
    font-size: 1.1em;
    margin-left: 1em;
}

#search-button:hover,
#search-button:active {
    filter: brightness(85%);
}

#search-input:hover {
    filter: brightness(95%);
}

.info-container {
    /* Vi vill hjälpa dig! Scanna eller sök efter produkter för att vara säker på om de är veganska eller inte. */
    margin-top: 4em;
    font-style: normal;
    text-align: center;
    color: var(--color-pure-white);
}

.info-container h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
}

.info-container p {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

.search-results {
    margin-top: 2em;
    width: 100%;
    /*background: var(--color-bg-off-gray);*/
    background: var(--color-pure-white);
}

.search-results button {
    color: black;
}

.search-results ul {
    list-style-type: none;
    padding: 0;
}

.search-results li {
    color: #000;
    padding: 1em;
    cursor: pointer;
}

.search-results li:hover {
    background: var(--color-gray);
}

.search-results .product-image {
    width: 4em;
    margin-right: 1em;
    height: fit-content;
}

.search-results .vegan-mark {
    text-align: center;
}

.search-results .vegan-true {
    padding-right: 1.25%;
}

.search-results .vegan-mark img {
    height: 3.5em;
}

.sticky-fade {
    position: fixed;
    height: 30vh;
    bottom: 0;
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(56, 81, 75, 1) 0%,
        rgba(56, 81, 75, 0) 100%
    );
}

/* when screen size is smaller then 800px */
@media screen and (max-width: 800px) {
    .App {
        max-width: 90vw; /* 90% viewport width */
        margin-top: 10vh; /* 10% viewport height */
        height: inherit;
    }

    }
    .title-icon {
        width: 12em;
    }

    h1.title {
        margin-bottom: 8vh;
    }

    #search-button {
        padding: 0.2em 1em;
    }

    .search-results li {
        padding: 0.75em 1em;
    }

    .search-results .product-name {
        font-size: 0.8em;
    }

    .search-results .vegan-mark img {
        height: 2.5em;
    }

