.feedback-modal .rating-modal-header.modal-header {
    text-align: center;
    padding: 7rem 4rem 5.9rem;
    justify-content: center;
}

.feedback-modal .review-container {
    padding: 0 2.4rem;
}

.feedback-modal .product-info-accordion .card-header .btn {
    background-color: var(--rating-window-bg-color);
}

.feedback-modal .product-info-accordion .card-body {
    background-color: var(--rating-window-bg-color);
}
