.feedback-button-text {
  font-size: 12px;
  line-height: 18px;
  display: block;
  padding-top: 7px;
  width: 75px;
}

.rating-modal .modal-content {
  background-color: #f2f2f2;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.rating-modal .close {
  display: none;
}

.rating-modal-header {
  padding: 35px 40px 20px;
  border: none;
}

.rating-modal-header .modal-title {
  font-weight: bold;
  font-size: 22px;
}

.rating-modal .star-container {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
  padding: 11px 40px;
}

.rating-modal .modal-body {
  padding: 0;
}

.rating-modal .widget-svg {
  width: 29px;
  height: 29px;
}

.rating-modal .rating-number {
  font-size: 10px;
  font-weight: normal;
  color: #272727;
  margin-left: 17px;
}

.rating-modal .validation-failure {
  color: #ef7878;
}

.rating-modal .review-container {
  padding: 11px 40px;
}

.rating-modal label {
  font-size: 12px;
}

.rating-modal .name-label {
  margin-top: 11px;
}

.rating-modal .review-textarea,
.rating-modal .review-input {
  width: 100%;
  border: 1px solid #bdbdbd;
  background-color: #fff;
  color: #272727;
  border-radius: 4px;
  padding: 10px 14px;
  display: block;
  font-size: 12px;
}

.rating-modal .review-textarea {
  height: 114px;
  resize: none;
}

.rating-modal .review-wrapper {
  position: relative;
}

.rating-modal .review-character-count {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  font-size: 10px;
  padding: 6px 12px;
}

.rating-modal .disclaimer {
  text-align: center;
  font-size: 8px;
  line-height: 12px;
  margin-top: 8px;
}

.rating-modal .button-container {
  font-size: 13px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0 38px;
}
.rating-modal .button-container button {
  display: block;
  width: 185px;
  align-self: center;
  color: #38514b;
  border: none;
  border-radius: 0;
  font-weight: 600;
  padding: 10px 0px;
}

.rating-modal #send-button,
#close-button {
  background-color: #f5c300;
}

.rating-modal #abort-button {
  background: none;
}

.thank-you-state {
  height: 631px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thank-you-state .thank-you-text {
  color: #4f6c65;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
}

.thank-you-state #close-button {
}
