.rating-modal .modal-content {
    background-color: #f2f2f2;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

}

.rating-modal .close {
    display: none;
}

.rating-modal-header {
    padding: 35px 40px 20px;
    border: none;
}

.rating-modal-header .modal-title {
    font-weight: bold;
    font-size: 22px;
}

.rating-modal .star-container {
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    padding: 11px 40px;
}

.rating-modal .modal-body{
    padding: 0;
}

.rating-modal .widget-svg{
    width: 29px;
    height: 29px;
}

.rating-modal .rating-number{
    font-size: 10px;
    font-weight: normal;
    color: #272727;
    margin-left: 17px;
}